{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Library</title>
</head>
<body>
<nav class="navbar container-fluid">
  <div class="row">
  <div class="col-md-8">
    <a class="navbar-brand col-md-6" href="{% url 'home' %}">SetUp</a>
  </div>
    <div class=" col-md-4">
      <ul class="nav">
       <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
{#          {% if user.is_authenticated %}#}
             <li class="nav-item"><a class="nav-link" href="{% url 'library' %}">Library Books</a></li>
{#          {% else %}#}
             <li class="nav-item"><a class="nav-link active" href="{% url 'signup' %}">SignUp</a></li>
             <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
{#          {% endif %}#}
      </ul>
      </div>
    </div>
</nav>
{% block content %}
{#page content goes here#}
{% endblock %}
</body>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</html>